<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="index,follow" />
    <meta lang="en" name="keywords" content="diceware, password, generator" />

    <title>{{.title}}</title>

    <style>
        @import url("http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext");
        html, body, #diceware {
            font-family: 'Oxygen', sans-serif;
            color: #323131;
            width: 100%;
            height: 100%;
            background-color: #f0eeee;
        }
        #diceware > div {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="diceware"> </div>

    <script src="/static/build/bundle.js"></script>
</body>
</html>
